<!-- Button trigger modal-->
{% for cat in cat %}
	{% if (cat.title is same as(adherent.subcategory)) %}
	{% if cat.pack.name is defined %}
<button  data-toggle="modal" data-target="#modalCart">{{cat.pack.name}}</button>
{% else %}
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCart">Pas de Pack</button>
{% endif %}
{% endif %}
{% endfor %}
<!-- Modal: modalCart -->
{% for cat in cat %}
	{% if (cat.title is same as(adherent.subcategory)) %}

		<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div
					class="modal-content">
					<!--Header-->
					{% if cat.pack.name is defined %}
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">{{cat.pack.name}}</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					
					<!--Body-->
					<div class="modal-body">

						<table class="table table-hover">
							<thead >
								<tr>
									<th style="font-size:20px;!important">#</th>
									<th style="font-size:20px;!important">Equipement</th>


								</tr>
							</thead>
							<tbody class="text-center" style="font-size:17px;!important">
								{% if cat.pack.option1 != null %}
									<tr>
										<th scope="row">1</th>
										<td>
										
												{{ cat.pack.option1 }}</td>
										</td>
									</tr>
								{% endif %}
								{% if cat.pack.option2 != null %}
									<tr>
										<th scope="row">2</th>
										<td>
										
												{{ cat.pack.option2 }}</td>
										</td>
									</tr>
								{% endif %}
								{% if cat.pack.option3 != null %}
									<tr>
										<th scope="row">3</th>
										<td>
										
												{{ cat.pack.option3 }}</td>
										</td>
									</tr>
								{% endif %}
								{% if cat.pack.option4 != null %}
									<tr>
										<th scope="row">4</th>
										<td>
										
												{{ cat.pack.option4 }}</td>
										</td>
									</tr>
								{% endif %}
								{% if cat.pack.option5 != null %}
									<tr>
										<th scope="row">5</th>
										<td>
										
												{{ cat.pack.option5 }}</td>
										</td>
									</tr>
								{% endif %}
								{% if cat.pack.option6 != null %}
									<tr>
										<th scope="row">6</th>
										<td>
										
												{{ cat.pack.option6 }}</td>
										</td>
									</tr>
								{% endif %}
								{% if cat.pack.option7 != null %}
									<tr>
										<th scope="row">7</th>
										<td>

											{{ cat.pack.option7 }}

										</td>
									</tr>
								{% if cat.pack.option8 != null %}
									<tr>
										<th scope="row">8</th>
										<td>
										
												{{ cat.pack.option8 }}</td>
										</td>
									</tr>{% else %}
										
{% endif %}
								{% endif %}
{% if cat.pack.option9 != null %}
									<tr>
										<th scope="row">9</th>
										<td>
										
												{{ cat.pack.option9 }}</td>
										</td>
									</tr>
								{% endif %}
								{% if cat.pack.option10 != null %}
									<tr>
										<th scope="row">10</th>
										<td>
										
												{{ cat.pack.option10 }}</td>
										</td>
									</tr>
								{% endif %}
								{% endif %}
								<td></td>
							</tbody>
						</tr>
					</tbody>
				</table>

			</div>
			<!--Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>{% endif %}{% endfor %}<!-- Modal: modalCart -->

