{% extends 'base.html.twig' %}

{% block title %}Modification de l'article
	{{produit.title}}

{% endblock %}

{% block body %}
{% set name = "Modification de l'article" ~ ' ' ~ produit.title %}
	{% include "header_title.html.twig" %}

<div class="container">
	


	{{ form_start(form) }}

	{{ form_widget(form) }}
	{% if produit.imageProduit.name is defined %}
		<div><img style="max-width:200px;" src="{{asset('image/produits/')~ produit.imageProduit.name}}" alt="{{produit.title}}" class="img-thumbnail mb-4"></div>
	{% else %}

		<div><img style="max-width:200px;" src="{{asset('image/produits/pas-d-image-disponible.jpg')}}" alt="Pas d'image" class="img-thumbnail mb-4"></div>
	{% endif %}
	<div class="container text-center">
		<button class="btn btn-primary my-5" type="submit">
			<i class="fas fa-check"></i>
			Enregistrer les modifications
		</button>
	</div>

	{{ form_end(form) }}


</div>


</div>{% endblock %}


