

		<div class="col-12 col-sm-6 col-md-3 .col-lg-3">
			<div class="card bg-light mb-4">
				<div class="position-relative">
				{% if produit.imageproduit.name is defined %}
				<img class="img-fluid" style="width:400px;height:300px;" src="{{asset('image/produits/')~ produit.imageProduit.name}}"/>
				{% else %}
					
					<img class="img-fluid" style="width:400px;height:300px;" src="{{asset('image/produits/pas-d-image-disponible.jpg')}}">
					{% endif %}
					<div class="card-img-overlay d-flex justify-content-end align-items-end">
						
					</div>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						<small>{{produit.title}}
							- catégorie:
							<strong>{{produit.categoryproduit.title}}</strong>
							- code barre:
							<strong>{{produit.code}}</strong>
						</small>
					</h5>
					<p class="card-text">
						<strong class="text-danger">Prix:
							{{produit.price}}€</strong>
						<span class="ml-3">Qté:
							<strong>{{produit.qteinit}}</strong>
						</span>
						{% if produit.qteinit <= produit.qtemin %}

							<i data-toggle="tooltip" data-placement="top" title="Stock faible" class="far fa-angry" style="color:orange"></i></p>
						
{% else %}<i data-toggle="tooltip" data-placement="top" title="Stock satisfaisant" class="far fa-smile" style="color:green"></i>
</p>
					{% endif %}
						
	
					<a href="{{ path('produit_one_show', {'id': produit.id}) }}" class="btn btn-sm btn-success">
						<i class="fas fa-eye"></i>
					</a>
					<a href="{{ path('produit_modif', {'id': produit.id}) }}" class="btn btn-sm btn-info">
						<i class="fas fa-pen"></i>
					</a>
					<a href="{{ path('produit_delete', {'id': produit.id}) }}" class="btn btn-sm btn-danger" data-confirm="Vous êtes sur le point se supprimer ce produit. En êtes vous certains ?" >
						<i class="fas fa-trash-alt"></i>
					</a>

				</div>
			</div>
		</div>



