<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Uspeg
			{% endblock %}
		</title>

	</head>
	<style>
		h2 {
			color: black;
			text-align: center;
		}
		#customers {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		#customers td,
		#customers th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		#customers tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		#customers tr:hover {
			background-color: #ddd;
		}

		#customers th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: center;
			background-color: #4CAF50;
			color: white;
		}
		#customers td {

			text-align: center;

		}
	</style>
	<h2 class="text-center">Liste des adhérents n'ayant pas completement reglé leur cotisation l'année précédente
	</h2>


	<table class="table table-hover" border="1" id="customers">
		<thead>
			<tr>

				<th class="text-center">Nom</th>
				<th class="text-center">Catégorie</th>
				<th class="text-center">Mail</th>
				<th class="text-center">Téléphone</th>
				<th class="text-center">Reste dû</th>


			</tr>
		</thead>
		<tbody>

		


				{% for debt in debt %}




							<tr>

								<td class="text-center" style="color:red">{{debt.name}}
									{{debt.prenom}}



								<td class="text-center">{{debt.category}}</td>
								<td class="text-center">{{debt.mail}}</td>
								<td class="text-center">{{debt.tel}}</td>
								<td class="text-center">{{debt.amount}}
									€</td>


							</tr>

						
			{% endfor %}
		</tbody>
	</html>
</html></table>
