{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}


<div class="container mt-3">

		<h1 class="text-center">Commande de {{adherent.lastName}} {{adherent.firstName}} </h1>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Rechercher ..."/>

		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"></div>
				<div class="col-sm-3 mb-2">
					<a href="#" class="btn btn-sm btn-primary">+ Ajouter une commande</a>
				</div>
			</div>
		</div>
{% for commande in commande %}
{% if (commande.adherent.id is same as(adherent.id)) %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Id.</th>
					<th class="text-center">Nom</th>
					<th class="text-center">Produit</th>
					<th class="text-center">Catégorie</th>
					<th class="text-center">Quantité</th>
					
					<th></th>
				</tr>
			</thead>
			<tbody>

			

					<td class="text-center">{{commande.id}}</td>
					<td class="text-center">
						<a href="#">{{commande.adherent.firstName}} {{commande.adherent.lastName}}</a>
					</td>
					<td class="text-center">{{commande.produit.title}}</td>
					<td class="text-center">{{commande.produit.categoryproduit.title}}</td>
					<td class="text-center">
						<span class="badge badge-primary">{{commande.qte}}</span>

					</td>
					
					<td>


						<a href="{{ path('commande_show', {'id': commande.id}) }}" class="btn btn-sm btn-primary">Voir</a>

						<a href="{{ path('commande_delete', {'id': commande.id}) }}" class="btn btn-sm btn-danger">supprimer</a>
					</td>
				</tr>
		

		</tbody>
	</table>
    {% endif %}
	{% endfor %}

</div>
    


{% endblock %}
