{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}


	<div class="container mt-3">

		<div class="container my-3 text-center">
			<h1 class="text-center">Commande de
				{{commande.adherent.firstName}}
				{{commande.adherent.lastName}}
			</h1>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"></div>

			</div>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>

					<th class="text-center">Nom</th>
					<th class="text-center">Produit</th>
					<th class="text-center">Catégorie</th>
					<th class="text-center">Quantité</th>
					<th class="text-center">Date de la commande</th>

					<th></th>
				</tr>
			</thead>
			<tbody>


				<td class="text-center">
					{{commande.adherent.firstName}}
					{{commande.adherent.lastName}}
				</td>
				<td class="text-center">{{commande.produit.title}}</td>
				<td class="text-center">{{commande.produit.categoryproduit.title}}</td>
				<td class="text-center">
					<span class="">{{commande.qte}}</span>

				</td>
				<td class="text-center">
					<span class="">{{commande.datecommande|date("d/m/Y") }}</span>

				</td>

				<td>


					<a href="{{ path('commande_delete', {'id': commande.id}) }}" class="btn btn-sm btn-danger">
						<i class="fas fa-trash-alt"></i>
					</a>
				</td>
			</tbody>
		</tr>


	</tbody>
</table></div>{% endblock %}
