{% extends 'base.html.twig' %}

{% block title %}
	{{categoryproduit.title}}
{% endblock %}

{% block body %}

{% set name = categoryproduit.title  %}
	{% include "header_title.html.twig" %}
	
	<div class="container">
	<div class="row ">
				<div class="col-sm mt-1 mb-3">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Familles d'articles
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							{% for c in category %}
								<li class="text-center">
									<a href="{{ path('category_produit', {'id': c.id}) }}" title="{{c.title}}">{{c.title}}</a>
								</li>

								<li role="separator" class="divider"></li>
							{% endfor %}
						</ul>

					</div>

				</div>

				<div class="col-sm mt-1 mb-3">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Equipes
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							{% for c in category %}
								<li class="text-center">
									<a href="{{ path('category_produit', {'id': c.id}) }}" title="{{c.title}}">{{c.title}}</a>
								</li>

								<li role="separator" class="divider"></li>
							{% endfor %}
						</ul>

					</div>
				</div>
				


	</div>
<div class="container">
<div class="row">
	{% for produit in produit %}
		{% if (produit.categoryproduit.id is same as(categoryproduit.id)) %}


			{% include 'produit.html.twig' %}


		{% endif %}
	{% endfor %}
	</div>
</div>
	</div>
</div>


{% endblock %}

