{% extends 'base.html.twig' %}

{% block title %}Fiche de
	{{adherent.lastName}}
	{{adherent.firstName}}
{% endblock %}

{% block body %}
<div class="container mt-3">

<a href="{{ path('commande_create',{'id':adherent.id}) }}" class="btn btn-sm btn-primary">Attribution Habits</a>

	  {% for amount in adherent.amounts %}
		  
	<div class="container mt-2">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"></div>
				<div class="col-sm-3 mb-2">
					<a href="{{ path('amount_edit', {'id':amount.id}) }}" class="btn btn-sm btn-primary">cotisation</a>
			
				</div>

<div class="col-sm-3 mb-2">
					<a href="{{ path('amount_create',{'id':amount.adherent.id}) }}" class="btn btn-sm btn-primary">+ Créer une cotisation</a>
				</div>

			</div>
		</div>

	  {% endfor %}
      
    
	<div class="container mt-2">
		<h1 class="text-center">Fiche de
			{{adherent.lastName}}
			{{adherent.firstName}}</h1>

		<table class="table mt-5" class="table table-hover">
			<thead>
				<tr class="table table-primary">
					<th class="text-center" scope="col">Nom Prénom</th>
					<th class="text-center" scope="col">Date de naissance</th>
					<th class="text-center" scope="col">Catégorie</th>
					<th class="text-center" scope="col">Numéro adhérent</th>
				</tr>
			</thead>
			<tbody>

				<tr class="table table-default font-weight-bold">
					<td class="text-center" scope="row">{{adherent.lastName}}
						{{adherent.firstName}}</td>
					<td class="text-center">{{adherent.born|date("d/m/Y")}}</td>
					<td class="text-center">{{adherent.subCategory}}
					</td>
					<td class="text-center">{{adherent.toNumber}}</td>
				</tr>
			</tbody>

			<thead>
				<tr class="table table-primary">
					<th class="text-center" scope="col">Sexe</th>
					<th class="text-center" scope="col">Addresse</th>
					<th class="text-center" scope="col">Complément</th>
					<th class="text-center" scope="col">lieut</th>
				</tr>
			</thead>
			<tbody>

				<tr class="table table-default font-weight-bold">
					<td class="text-center" scope="row">{{adherent.sex}}</td>
					<td class="text-center">{{adherent.address}}</td>
					<td class="text-center">{{adherent.complement}}
					</td>
					<td class="text-center">{{adherent.lieut}}</td>
				</tr>
			</tbody>

			<thead>
				<tr class="table table-primary">
					<th class="text-center" scope="col">Code Postal</th>
					<th class="text-center" scope="col">Ville</th>
					<th class="text-center" scope="col">Enregistrement</th>
					<th class="text-center" scope="col">Type de licence</th>
				</tr>
			</thead>
			<tbody>

				<tr class="table table-default font-weight-bold">
					<td class="text-center" scope="row">{{adherent.postalCode}}</td>
					<td class="text-center">{{adherent.city}}</td>
					<td class="text-center">{{adherent.record|date("d/m/Y")}}
					</td>
					<td class="text-center">{{adherent.licenceType}}</td>
				</tr>
			</tbody>

			<thead>
				<tr class="table table-primary">
					<th class="text-center" scope="col">Téléphone maison</th>
					<th class="text-center" scope="col">Téléphone mobile</th>
					<th class="text-center" scope="col">fax</th>
					<th class="text-center" scope="col">Email</th>
				</tr>
			</thead>
			<tbody>

				<tr class="table table-default font-weight-bold">
					<td class="text-center" scope="row">{{adherent.homePhone}}</td>
					<td class="text-center">{{adherent.mobilePhone}}</td>
					<td class="text-center">{{adherent.fax}}
					</td>
					<td class="text-center">{{adherent.email}}</td>
				</tr>
			</tbody>

			<thead>
				<tr class="table table-primary">
					<th class="text-center" scope="col">Catégory arbitre</th>
					<th class="text-center" scope="col">Lieu de naissance</th>
					<th class="text-center" scope="col">Changement de club</th>
					<th class="text-center" scope="col">Club quitté</th>
				</tr>
			</thead>
			<tbody>

				<tr class="table table-default font-weight-bold">
					<td class="text-center" scope="row">{{adherent.categoryArbitre}}</td>
					<td class="text-center">{{adherent.placeOfBirth}}</td>
					<td class="text-center">{{adherent.clubChange}}
					</td>
					<td class="text-center">{{adherent.clubOut}}</td>
				</tr>
			</tbody>


		</table>

</div>
	
	<button class="btn btn-outline-primary mt-3"  value="Précédent" onclick="history.go(-1)">Précédent</button>
	
</div>
{% endblock %}


