{% extends 'base.html.twig' %}

{% block title %}Adhérents
{% endblock %}

{% block body %}


	{% set name = 'Adhérents' %}
	{% include "header_title.html.twig" %}

	<div class="container mt-3">


		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<div class="dropright">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Catégories d'adhérents
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropd1">
								{% for c in catadherent %}
									<li class="text-center">
										<a href="{{ path('category_adherent', {'id': c.id}) }}" title="{{c.title}}">{{c.title}}</a>
									</li>

									<li role="separator" class="divider"></li>
								{% endfor %}
							</ul>

						</div>
					</li>
					<li class="nav-item">
						<div class="dropright">
							<button class="btn btn-secondary dropdown-toggle ml-2" type="button" id="dropd2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Equipes
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropd2">
								{% for t in team1 %}
									<li class="text-center">
										<a href="{{ path('team_adherent', {'id': t.id}) }}" title="{{t.name}}">{{t.name}}</a>
									</li>

									<li role="separator" class="divider"></li>
								{% endfor %}
							</ul>

						</div>
					</li>

				</ul>
				<div class="my-2 my-sm-0">{% include 'list_adherent_partials/rechercher.html.twig' %}</div>
			</div>
		</nav>

		<div class="container mt3 overflow-auto table-wrapper-scroll-y-y my-custom-scrollbar-adherent">
			<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
				<thead>
					<tr>

						<th class="text-center">Nom</th>
						<th class="text-center">Email</th>
						<th class="text-center">Catégorie</th>
						<th class="text-center">Licence</th>
						<th class="text-center">Commande(s)</th>


						<th></th>
						<th>
							{% if is_granted('ROLE_ADMIN') %}
								<div class="dropdown">

									<a href="{{ path('adherent_create') }}" class="btn btn-sm btn-primary">+ Adhérent</a>

								{% endif %}


							</div>
						</th>
					</tr>
				</thead>
				<tbody>

					{% for ad in pagination.data %}
						{% if ad.amounts == false %}
							<td class="text-center" style="color:orange;">{{ad.lastName}}
								{{ad.firstName}}</td>
						{% endif %}
						{% for a in ad.amounts %}


							{% set total = (a.amount1 + a.amount2 + a.amount3 + a.amount4 ) %}
							<td class="text-center" style="font-weight:bold;color:
																													{% for cat in catadherent %}
																																				{% if (cat.title is same as(ad.subcategory) and a is defined) %}
																																				{% set montant_total = cat.montantcot %}
								
								
																																					{% if total < cat.montantcot  %}
																																						red
																																					{% endif %}
																																					{% if total == cat.montantcot  %}
																																			green
																																					{% endif %}
								
																																					{% if total > cat.montantcot  %}
																																						  green
																																					{% endif %}
								
																													                                {% if not a.adherent %}
																																					black
																																					{% endif %}
								
								
																										                            {% endif %}{% else %} black
																																	{% endfor %}
																																		;">{{ad.lastName}}

								{{ad.firstName}}</td>
						{% else %}
							<td class="text-center" style="color:black;font-weight:bold;">{{ad.lastName}}
								{{ad.firstName}}</td>
						{% endfor %}

						<td class="text-center">{{ad.email}}</td>
						<td class="text-center">{{ad.subcategory}}</td>
						<td class="text-center">
							<span class="">{{ad.toNumber}}</span>

						</td>
						<td class="text-center">{% include 'list_adherent_partials/paniers_adherent.html.twig'%}
						</td>
						<td></td>
						<td>


							<a href="{{ path('adherent_show', {'id': ad.id}) }}" class="btn btn-sm btn-primary">
								<i class="fas fa-eye"></i>
							</a>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('admin/adherent_modif', {'id': ad.id}) }}" class="btn btn-sm btn-secondary">
									<i class="fas fa-pen"></i>
								</a>

								<a href="{{ path('admin/adherent_delete', {'id': ad.id}) }}" class="btn btn-sm btn-danger" data-confirm="Vous êtes sur le point se supprimer cet adherent. En êtes vous certains ?">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>
						{% endif %}
					</tr>

				{% endfor %}

			</tbody>
		</table>
	</div>
</div>

<div class="container">
	<ul style="list-style-type: none;">
	     <li>
			<i style="display: inline-block;border:none;color:green;" class="fas fa-shopping-bag "></i>
			: 1 article validé</li>
		
		<li>
			<i style="display: inline-block;border:none;color:orange;" class="fas fa-shopping-bag "></i>
			: 1 article en commande</li>
		<li>
			<i style="display: inline-block;border:none;color:red;">Nom de l'adhérent</i>: Cotisation non réglée ou incomplète</li>
		<li>
			<i style="display: inline-block;border:none;color:green;">Nom de l'adhérent</i>: Cotisation réglée</li>
	</ul>
</div>

{{pagination.display()}}</div>{% endblock %}
