{% extends 'base.html.twig' %}

{% block title %}Adhérents
{% endblock %}

{% block body %}



	{% set name = 'Adhérents' %}
	{% include "header_title.html.twig" %}

	<div class="container mt-3">
	{{ form_start(form) }}

<div class="form-row align-items-end" >
 <div class="col">
   {{ form_row(form.nom) }}
 </div>

  <div class="col">
   <div class="form-group">
      <button type="submit" class="btn btn-success">Rechercher</button>
    </div>
 </div>
</div>
 {{ form_end(form) }}
 {% for a in adherent %}
<table class="table ">
					
					<tbody>

						

						<tr class="bg-success">
							<td class="text-center">
								{{a.lastName}} {{a.firstName}}
									
							</td>
							<td class="text-center">{{a.email}}</td>
							<td class="text-center">{{a.subcategory}}</td>
							<td class="text-center">
								<span class="">{{a.toNumber}}</span>

							</td>
							
							<td>

								<a href="{{ path('adherent_show', {'id': a.id}) }}" class="btn btn-sm btn-primary">
									<i class="fas fa-eye"></i>
								</a>
								{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('admin/adherent_modif', {'id': a.id}) }}" class="btn btn-sm btn-secondary">
									<i class="fas fa-pen"></i>
								</a>

								<a href="{{ path('admin/adherent_delete', {'id': a.id}) }}" class="btn btn-sm btn-danger" data-confirm="Vous êtes sur le point se supprimer cet adhérent. En êtes vous certains ?">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>
							{% endif %}
						</tr>
					

				</tbody>
			</table>
{% endfor %}
		<div class="container mt-2 mb-2">

			<div class="row ">
				<div class="col-sm mt-1 mb-3">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Catégories d'adhérents
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							{% for c in catadherent %}
								<li class="text-center">
									<a href="{{ path('category_adherent', {'id': c.id}) }}" title="{{c.title}}">{{c.title}}</a>
								</li>

								<li role="separator" class="divider"></li>
							{% endfor %}
						</ul>

					</div>

				</div>

				<div class="col-sm mt-1 mb-3">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Equipes
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						{% for t in team1 %}
							<li class="text-center">
								<a href="{{ path('team_adherent', {'id': t.id}) }}" title="{{t.name}}">{{t.name}}</a>
							</li>

							<li role="separator" class="divider"></li>
						{% endfor %}
					</ul>

					</div>
				</div>
				<div class="col-sm mt-1 mb-3">
					<div class="dropdown">

						<a href="{{ path('adherent_create') }}" class="btn btn-sm btn-primary">+ Ajouter un Adhérent</a>
					</div>

				</div>

				<table class="table table-hover">
					<thead>
						<tr>
							
							<th class="text-center">Nom</th>
							<th class="text-center">Email</th>
							<th class="text-center">Catégorie</th>
							<th class="text-center">Numéro</th>
							
							<th></th>
						</tr>
					</thead>
					<tbody>

						{% for ad in pagination.data %}

						
							<td class="text-center">
								<a href="#">{{ad.lastName}} {{ad.firstName}}
									</a>
							</td>
							<td class="text-center">{{ad.email}}</td>
							<td class="text-center">{{ad.subcategory}}</td>
							<td class="text-center">
								<span class="">{{ad.toNumber}}</span>

							</td>
							
							<td>


								<a href="{{ path('adherent_show', {'id': ad.id}) }}" class="btn btn-sm btn-primary">
									<i class="fas fa-eye"></i>
								</a>
								{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('admin/adherent_modif', {'id': ad.id}) }}" class="btn btn-sm btn-secondary">
									<i class="fas fa-pen"></i>
								</a>

								<a href="{{ path('admin/adherent_delete', {'id': ad.id}) }}" class="btn btn-sm btn-danger" data-confirm="Vous êtes sur le point se supprimer cet adhérent. En êtes vous certains ?">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>
							{% endif %}
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
		{{pagination.display()}}

	</div>


{% endblock %}





