{% extends 'base.html.twig' %}


{% block title %}Adhérents par catégorie
{% endblock %}

{% block body %}
	{% set name = 'Liste des adhérents de la catégorie ' ~ categoryadherent.title %}
	{% include "header_title.html.twig" %}

	<div class="container mt-3">
		<h1 class="text-center">Liste des adhérents de la catégorie
			{{categoryadherent.title}}</h1>


		<div class="row ">
			<div class="col-sm mt-1 mb-3">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Catégories d'adhérents
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						{% for c in catadherent %}
							<li class="text-center">
								<a href="{{ path('category_adherent', {'id': c.id}) }}" title="{{c.title}}">{{c.title}}</a>
							</li>

							<li role="separator" class="divider"></li>
						{% endfor %}
					</ul>

				</div>

			</div>

			<div class="col-sm mt-1 mb-3">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Equipes
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						{% for t in team1 %}
							<li class="text-center">
								<a href="{{ path('team_adherent', {'id': t.id}) }}" title="{{t.name}}">{{t.name}}</a>
							</li>

							<li role="separator" class="divider"></li>
						{% endfor %}
					</ul>

				</div>
			</div>
			<div class="col-sm mt-1 mb-3">
				<div class="dropdown">

					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('adherent_create') }}" class="btn btn-sm btn-primary">+ Ajouter un Adhérent</a>
					{% endif %}

				</div>


				{% block head %}
					<style>
						table {
							counter-reset: case;
						}
						#numerotation:before {
							counter-increment: case;
							content: counter(case);
						}
					</style>
				{% endblock %}


			</div>
{% include "list_adherent_partials/list_adherents.html.twig" %}


	</div>

{% endblock %}
