

<div class="d-flex justify-content-center">
		<ul class="pagination">
		
			<li class="page-item {% if page == 1 %}disabled{% endif %}">
				<a class="page-link" href="{{path(route, {'page': page - 1})}}">&laquo;</a>
			</li>
			{% for i in 1..3 %}
				<li class="page-item {% if page == i %}active{% endif %}">
					<a class="page-link" href="{{path(route, {'page': i})}}">{{i}}</a>
				</li>
			{% endfor %}
			{% for i in page..page %}
			{% if page == i and page > 3 and page < (pages-3) %}
			<li class="page-item"><a class="page-link" style="color:white;">...</a></li>
			<li class="page-item  active"><a class="page-link">{{i}}</a></li>
			<li class="page-item"><a class="page-link" style="color:white;">...</a></li>
			{% else %}
			<li class="page-item "><a class="page-link" style="color:white;">...</a>{% endif %}
			{% endfor %}
			{% for i in (pages-2)..pages %}
			<li class="page-item {% if page == i %}active{% endif %}">
					<a class="page-link" href="{{path(route, {'page': i})}}">{{i}}</a>
				</li>
			{% endfor %}
			<li class="page-item {% if page == pages %}disabled{% endif %}">
				<a class="page-link" href="{{ path(route, {'page': page + 1}) }}">&raquo;</a>
			</li>
		</ul>
	</div>