
	
		<div class="col-4 col-sm-3 my-1 my-sm-0">
			<div class="card">
				<div class="position-relative">
					<img src="https://images.asos-media.com/products/nike-air-max-90-baskets-en-cuir-bleu-302519-400/9536548-1-blue?$n_640w$&wid=634&fit=constrain" class="card-img-top" alt="Nike - Air Max 90">
					<div class="card-img-overlay d-flex justify-content-end align-items-end">
						
					</div>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						<small>{{produit.title}}
							- catégorie:
							<strong>{{produit.categoryproduit.title}}</strong>
							- code barre:
							<strong>{{produit.code}}</strong>
						</small>
					</h5>
					<p class="card-text">
						<strong class="text-danger">Prix:
							{{produit.price}}€</strong>
						<span class="ml-3">Qté:
							<strong>{{produit.qteinit}}</strong>
						</span>
						{% if produit.qteinit <= produit.qtemin %}

							<i data-toggle="tooltip" data-placement="top" title="Stock faible" class="far fa-angry" style="color:orange"></i></p>
						
{% else %}<i data-toggle="tooltip" data-placement="top" title="Stock satisfaisant" class="far fa-smile" style="color:green"></i>
</p>
	
					{% endif %}
						
	
					<a href="{{ path('produit_one_show', {'id': produit.id}) }}" class="btn btn-sm btn-success">
						<i class="fas fa-eye"></i>
					</a>
					<a href="{{ path('produit_modif', {'id': produit.id}) }}" class="btn btn-sm btn-info">
						<i class="fas fa-pen"></i>
					</a>
					<a href="{{ path('produit_delete', {'id': produit.id}) }}" class="btn btn-sm btn-danger">
						<i class="fas fa-trash-alt"></i>
					</a>

				</div>
			</div>
		</div>



