{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
	{% set name = 'Tableau de Bord' %}
	{% include "header_title.html.twig" %}

	<div class="container mt-2">
		<div class="row">
			<div class="col">
				<div class="card bg-primary text-white mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-users fa-3x"></i>
							</div>
							<div class="col-8">
								<h4 class="card-title">{{stats.adherents ~ ' '}}
									Adherents</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-dark mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-futbol fa-3x"></i>
							</div>
							<div class="col-8">
								<h4 class="card-title">{{stats.produits ~ ' '}}
									produits</h4>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<hr>
		<div class="row">
			<div class="col">
				<div class="alert alert-primary">
					<h2 class="alert-heading my-3">
						<i class="fas fa-users"></i>
						Adhérents</h2>

					<table class="table table-hover ">
						<thead>
							<tr class="text-warning">
								<th>Gestion</th>
								<th>Action</th>
							</tr>
						</thead>
					</trclass="text-warning">
				</thead>
				<tbody>

					<tr class="text-light">
						<td>Adhérents</td>
						<td>

							<a href="{{ path('adherent')}}" class="btn btn-sm btn-primary">
								<i class="fas fa-pen"></i>
							</a>
							<a href="{{ path('adherent_create')}}" class="btn btn-sm btn-primary">
								<i class="fas fa-plus"></i>
							</a>
						</td>

					</tr>

					<tr class="text-light">
						<td>Catégories</td>
						<td>

							<a href="{{ path('category_adherent_dashboard')}}" class="btn btn-sm btn-primary">
								<i class="fas fa-pen"></i>
							</a>
							<a href="{{ path('category_adherent_dashboardOrdreplus1')}}" class="btn btn-sm btn-primary">
								<i class="fas fa-undo"></i>
							</a>
						</td>

					</tr>

					<tr class="text-light">
						<td>Matèriels attribués</td>
						<td>

							<a href="{{ path('commande')}}" class="btn btn-sm btn-primary">
								<i class="fas fa-pen"></i>
							</a>
						</td>

					</tr>
					<tr>
						<td>
							<div class="btn-group">
								<button class="btn  btn-primary dropdown-toggle" style="font-size:16px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commandes</button>


								<div class="dropdown-menu bg-primary">
									<a class="dropdown-item" href="{{ path('commande-en-cours')}}">Commande en cours</a>
									<a class="dropdown-item" href="{{ path('a-commande')}}">Articles Manquants</a>
									<a class="dropdown-item" href="{{ path('commande-par-adherent')}}">Adhérents avec un article manquant</a>

								</div>

							</div>
						</td>
						<td></td>
					</tr>
					<tr class="text-light">
						<td>Equipes</td>
						<td>

							<a href="{{ path('admin_team')}}" class="btn btn-sm btn-primary">
								<i class="fas fa-pen"></i>
							</a>
							<a href="{{ path('admin_team_create')}}" class="btn btn-sm btn-primary">
								<i class="fas fa-plus"></i>
							</a>
						</td>

					</tr>

					<tr class="text-light">
						<td>Cotisations</td>
						<td>

							<a href="{{ path('adherent_cotisation')}}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Imprimer la liste des adhérents n'ayant pas completement reglé leur cotisation ">
								<i class="fas fa-print fa-lg"></i>
							</a>

						</td>

					</tr>
					<tr class="text-light">
						<td>Chèques Impayés</td>
						<td>

							<a href="{{ path('searchcheque')}}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Recherche de chèques par numéro">
								<i class="fas fa-search fa-lg"></i>
							</a>

						</td>

					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<div class="col">

		<div class="alert alert-success">
			<h2 class="alert-heading my-3">
				<i class="fas fa-futbol"></i>
				Boutique</h2>

			<table class="table table-hover">
				<thead>
					<tr class="text-primary">
						<th>Gestion</th>
						<th>Action</th>

					</tr>
				</thead>
				<tbody class="text-primary">

					<tr>
						<td>Produits</td>
						<td>

							<a href="{{ path('admin/produit_edit')}}" class="btn btn-sm btn-success text-primary">
								<i class="fas fa-pen"></i>
							</a>
							<a href="{{ path('produit_create')}}" class="btn btn-sm btn-success text-primary">
								<i class="fas fa-plus"></i>
							</a>
						</td>

					</tr>
					<tr>
						<td>Familles</td>
						<td>

							<a href="{{ path('dash_category')}}" class="btn btn-sm btn-success text-primary">
								<i class="fas fa-pen"></i>
							</a>
						</td>
					</tr>
					<tr></tr>
				</tbody>
			</td>

			<td>Packs</td>
			<td>

				<a href="{{ path('admin_pack')}}" class="btn btn-sm btn-success text-primary">
					<i class="fas fa-pen"></i>
				</a>
				<a href="{{ path('pack_create')}}" class="btn btn-sm btn-success text-primary">
					<i class="fas fa-plus"></i>
				</a>
			</td>
          

		</tr>

		<tr>
		<td>Inventaire Boutique</td>
		<td>

				<a href="{{ path('statproduit')}}" class="btn btn-sm btn-success text-primary">
					<i class="fas fa-pen"></i>
				</a>
				<a href="{{ path('inventaire')}}" class="btn btn-sm btn-success text-primary" data-toggle="tooltip" data-placement="top" title="Imprimer l'inventaire de la boutique">
								<i class="fas fa-print fa-lg"></i>
							</a>


				<a href="{{ path('statproduit/edit2', {'id': 2})}}" class="btn btn-lg btn-success text-primary">
					<i class="fa fa-calendar-alt"></i>
				</a>

			</td>
		</tr>
		<tr>
		<td>Statistiques Ventes</td>
		<td>

				<a href="{{ path('statboutique')}}" class="btn btn-sm btn-success text-primary">
					<i class="fas fa-pen"></i>
				</a>
				<a href="{{ path('statistiqueboutique')}}" class="btn btn-sm btn-success text-primary" data-toggle="tooltip" data-placement="top" title="Imprimer l'inventaire de la boutique">
								<i class="fas fa-print fa-lg"></i>
							</a>
							<a href="{{ path('statproduit/edit3', {'id': 3})}}" class="btn btn-lg btn-success text-primary">
					<i class="fa fa-calendar-alt"></i>
				</a>
				
			</td>
		</tr>
	</tbody>

</table></div>


	
		<div class="alert alert-danger">
			<h3 class="alert-heading my-3">
				<i class="fas fa-arrow-alt-circle-right"></i>
				Nouvelle Saison</h3>

			<table class="table table-hover">
				<thead>
					<tr class="text-primary">
						<th>Gestion</th>
						<th>Action</th>

					</tr>
				</thead>
				<tbody class="text-primary">

					<tr>
						<td class="text-light">Nouvelle Saison</td>
						<td>

							<a href="{{ path('dash_new_season')}}" class="btn btn-sm btn-danger text-light btn">
								<i class="fas fa-pen"></i>
							</a>
							
						</td>

					</tr>
					<tr>
			<td class="text-light">Ordre prochaine saison</td>
			<td>
				<a href="{{ path('category_adherent_dashboardOrdreplus1')}}" class="btn btn-sm btn-danger text-light">
					<i class="far fa-eye fa-lg "></i>
				</a>
			</td>
		</tr>
					
					<tr></tr>
				</tbody>
			
          

		</tr>

		
		
	</tbody>

</table></div></div>




<div class="col"><div class="alert alert-info">
<h2 class="alert-heading my-3">
	<i class="fas fa-cogs"></i>
	Paramètres</h2>

<table class="table table-hover">
	<thead>
		<tr class="text-primary">
			<th>Gestion</th>
			<th>Action</th>

		</tr>
	</thead>
	<tbody class="text-primary">
		<tr>

			<td>Utilisateurs</td>
			<td>

				<a href="{{ path('account_utilisateur')}}" class="btn btn-sm btn-info text-primary">
					<i class="fas fa-pen"></i>
				</a>

			</td>

		</tr>

		<tr>

			<td>Inscriptions</td>
			<td>

				<a href="{{ path('account_register')}}" class="btn btn-sm btn-info text-primary">
					<i class="fas fa-plus"></i>
				</a>

			</td>

		</tr>
		<tr>
			<td>Dates commandes</td>
			<td>
				<a href="{{ path('admin/date_commande_edit',{ 'id': 1}) }}" class="btn btn-sm btn-info text-primary">
					<i class="fas fa-pen"></i>
				</a>
				

			</td>

		</tr>
		<tr>
			<td>Cotisations Impayées</td>
			<td>
				<a href="{{ path('copy_cotisation')}}" class="btn btn-sm btn-info text-primary" data-confirm="Etes vous sur de vouloir sauvegarder les adhérents n'ayant pas totalement payé leur cotisation ?">
					<i class="fas fa-save fa-lg"></i>
				</a>
				<a href="{{ path('debt')}}" class="btn btn-sm btn-info text-primary">
					<i class="far fa-eye fa-lg "></i>
				</a>

			</td>

		</tr>

	
		<tr>

		<tr>
			<td>Import et Mis a jour adhérent</td>
			<td>

				<a href="{{ path('import_csv')}}" class="btn btn-sm btn-info text-primary">
					<i class="fas fa-pen"></i>
				</a>

			</td>

		</tr>
		<tr>
			<td>Mises à jour</td>
			<td>
				<a href="{{ path('misajour')}}" class="btn btn-sm btn-info text-primary">
					<i class="far fa-eye fa-lg "></i>
				</a>
			</td>
		</tr>
		

<SCRIPT>
function passWord() {
var testV = 1;
var pass1 = prompt('Veuillez entrer le mot de passe pour valider la réinitialisation de toutes les cotisations',' ');
while (testV < 3) {
if (!pass1)
history.go(-1);
if (pass1.toLowerCase() == "uspeg") {
window.open('/amount/delete');

break ;
}
testV+=1;
var pass1 =
prompt('Erreur','Mot de passe');
}
if (pass1.toLowerCase()!="sesame" & testV ==3)
history.go(-1);
return " ";
}
</SCRIPT>

	</tbody>
</table></div></div></div></div>{% endblock %}
