{% extends 'base.html.twig' %}

{% block title %}Famille de produit
{% endblock %}

{% block body %}
{% set name = "Famille de produits" %}
	{% include "header_title.html.twig" %}
	
	

	<div class="container mt-3">

		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"></div>
				<div class="col-sm-3 mb-2">
					<a href="{{ path('category_create') }}" class="btn btn-sm btn-primary">+ Ajouter une catégorie</a>
				</div>
			</div>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Id.</th>
					<th class="text-center">Titre</th>
					<th></th>
				</tr>
			</thead>
			<tbody>


				{% for categories in category %}
			


					<td class="text-center">{{categories.id}}</td>
					
					<td class="text-center">
						<a href="#">{{categories.title}}
							</a>
					</td>
					
					
					<td>


	
                          <a href="{{ path('category_produit_modif', {'id': categories.id}) }}" class="btn btn-sm btn-info"><i class="fas fa-pen"></i></a>
						<a href="{{ path('category_produit_delete', {'id': categories.id}) }}" class="btn btn-sm btn-danger" data-confirm="La suppression de la catégorie supprimera tous les produits liés à celle-ci ! Etes-vous certain de vouloir la supprimer?" ><i class="fas fa-trash-alt"></i></a>
					

					
					</td>
					
				</tr>
			
			{% endfor %}

		</tbody>
	</table>


</div>


{% endblock %}
