{% extends 'base.html.twig' %}

{% block title %}Adhérents avec un article manquant
{% endblock %}

{% block body %}
{% set name = "Adhérents avec un article manquant" %}
	{% include "header_title.html.twig" %}



	
			<div class="container mt3 overflow-auto table-wrapper-scroll-y-y my-custom-scrollbar-adherent">
			<table class="table table-bordered table-sm" cellspacing="0" width="100%">
				<thead>
					<tr>
						
						<th class="text-center">Nom</th>
                        <th class="text-center">Categorie</th>
                        <th class="text-center">Produit</th>
						<th class="text-center">Code barre</th>
					    <th class="text-center">Quantité</th>

						<th>
						<a href="{{path('print-commande-par-adherent')}}">Imprimer
							<i class="fas fa-print fa-lg"></i>
						</a>
					</th>
				
				</thead>
				
                {% set newArray = [] %}
				
				{% for c in commande %}
				<tbody>
					{% if c.dateattribution == null %}
					{% if c.adherent.firstName not in newArray %}

						<td class="text-center">	<a href="{{path('adherent_show', { 'id': c.adherent.id})}}">{{c.adherent.firstName}}
							{{c.adherent.lastName}}</a></td>
                            <td class="text-center">	<p >{{c.adherent.subcategory}}
							</p></td>
                            <td class="text-center">	<p >{{c.produit.title}}
							</p></td>
							<td class="text-center">	<p >{{c.produit.code}}
							</p></td>
							 <td class="text-center">	<p >{{c.qte}}
							</p></td>
					{% set newArray = newArray|merge([c.adherent.firstName]) %}
				{% endif %}
					
		{% endif %}
					
				
		</tbody>	
		{% endfor %}

	
</table></div></div>{% endblock %}