{% extends 'base.html.twig' %}

{% block title %}Commandes
{% endblock %}

{% block body %}
{% set name = "Commandes en cours" %}
	{% include "header_title.html.twig" %}

	<div class="container mt-3">
		

		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"></div>
				<div class="col-sm-3 mb-2"></div>
			</div>
		</div>
		
			<table class="table table-hover">
				<thead>
					<tr>
						
						<th class="text-center">Nom</th>
						<th class="text-center">Produit</th>
						<th class="text-center">code Barre</th>
						<th class="text-center">Catégorie</th>
						<th class="text-center">Commandé le</th>
						<th class="text-center">Quantité</th>

						<th>
						<a href="{{path('print-commande-en-cours')}}">Imprimer
							<i class="fas fa-print fa-lg"></i>
						</a>
					</th>
					</tr>
				</thead>
				{% for c in commande %}
				<tbody>
					{% if c.dateattribution == null %}
				
<tr>
						<td class="text-center">	<a href="{{path('adherent_show', { 'id': c.adherent.id})}}">{{c.adherent.firstName}}
							{{c.adherent.lastName}}</a></td>
					
					<td class="text-center">{{c.produit.title}}</td>
					<td class="text-center">{{c.produit.code}}</td>
					<td class="text-center">{{c.produit.categoryproduit.title}}</td>
					<td class="text-center">{{c.datecommande|date('d/m/yy')}}</td>
					
						
			
					
				
					
						
					<td class="text-center">
						<span class="">{{c.qte}}</span>

					</td>
					</tr>
		{% endif %}
					
				</tbody>
			
		{% endfor %}

	</tbody>
</table></div>{% endblock %}

