{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur la Boutique
{% endblock %}

{% block body %}

	<div class="container mt-3">
	<div class="mb-2"><h1>Boutique</h1><a href="{{ path('produit_create') }}" class="btn btn-sm btn-info">Nouveau produit</a>  <a href="{{ path('category_create') }}" class="btn btn-sm btn-info">Nouvelle catégorie</a></div>

		<div class="row ">

			{% for categories in category %}

				<div class="col-mb mr-2">
					<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

						<div class="card-body">


							<a href="{{ path('category_produit', {'id': categories.id}) }}">
								<h2 class="card-title p-4">
									{{categories.title}}</h2>
							</a>

						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>

	
	<div class="container mt-3">
		<h1 class="text-center">Catégorie</h1>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Rechercher ..."/>

		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"></div>
				<div class="col-sm-3 mb-2">
					<a href="{{ path('category_create') }}" class="btn btn-sm btn-primary">+ Ajouter une catégorie</a>
				</div>
			</div>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Id.</th>
					<th class="text-center">Titre</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{% for categories in category %}

					<td class="text-center">{{categories.id}}</td>
					<td class="text-center">
						<a href="#">{{categories.title}}
							</a>
					</td>
					
					
					<td>


						
						<a href="{{ path('category_produit_modif', {'id': categories.id}) }}" class="btn btn-sm btn-secondary">modifier</a>

						<a href="{{ path('category_produit_delete', {'id': categories.id}) }}" class="btn btn-sm btn-danger">supprimer</a>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>


</div>


{% endblock %}

