{% extends 'base.html.twig' %}

{% block title %}Modification du produit 
	{{produit.title}}

	
{% endblock %}



{% block body %}

	<div class="container">
		<h1 class="my-5">Modification du produit 
	{{produit.title}}</h1>


		{{ form_start(form) }}


		{{ form_widget(form) }}


		<button class="btn btn-primary" type="submit">
			<i class="fas fa-check"></i>
			Enregistrer les modifications
		</button>

		{{ form_end(form) }}


	</div>

</div>{% endblock %}


