{% extends 'base.html.twig' %}

{% block title %}
	{{produit.title}}
{% endblock %}

{% block body %}
{% set name = produit.title %}
{% include "header_title.html.twig" %}
	<div class="container my-3">
		<div
			class="row">
			<!-- Image -->
			<div class="col-12 col-lg-6">
				<div class="card bg-light mb-3">
					<div class="card-body">
						<a href="" data-toggle="modal" data-target="#productModal">
						{% if produit.imageproduit.name is defined %}
							<img class="img-fluid" src="{{asset('image/produits/')~ produit.imageProduit.name}}"/>
                               {% else %}<img class="img-fluid"  src="{{asset('image/produits/pas-d-image-disponible.jpg')}}">
								    
								{% endif %}         
						</a>
					</div>
				</div>
			</div>

			<!-- Add to cart -->
			<div class="col-12 col-lg-6 add_to_cart_block">
				<div class="card bg-light mb-3">
					<div class="card-body">
						<p class="price mb-3">{{produit.title}}
						</p>

						<ul class="list-group text-center">
							<li class="list-group-item">Catégorie:<strong>
									{{produit.categoryProduit.title}}
								</strong>
							</li>
							<li class="list-group-item">Prix:
								<strong>{{produit.price}}
									€</strong>
							</li>
							<li class="list-group-item">N° Code Barre:
								<strong>{{produit.code}}
									</strong>
							</li>
							
							<li class="list-group-item">Taille:<strong>
									{{produit.taille}}</strong>
							</li>
							<li class="list-group-item">Quantité en stock:<strong>
									{{produit.qteinit}}</strong>
							</li>
							<li class="list-group-item">
							<img src="https://www.stickersmalin.com/images/ajoute/prd/64/64495-image2_448x448.png" style="width:200px;" alt="">
							</li>

						</ul>


						
						
						<div class="datasheet p-3 mb-2 mt-3 bg-info text-white">
							<a href="{{ path('category_produit',{'id':produit.categoryProduit.id})}}" class="text-white">
								<i class="fa fa-file-text"></i>
								Retour à la catégorie {{produit.categoryProduit.title}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="row">
			<!-- Description -->
			<div class="col-12">
				<div class="card border-light mb-3">
					<div class="card-header bg-primary text-white text-uppercase">
						<i class="fa fa-align-justify"></i>
						Description</div>
					<div class="card-body">
						<p class="card-text">
							{{produit.description}}</p>
					</div>
				</div>
			</div>


		</div>
	</div>


{% endblock %}

