{% extends 'base.html.twig' %}

{% block title %}Catégories d'Adhérents
{% endblock %}

{% block body %}
	{% set name = "Catégories d'adhérents" %}
	{% include "header_title.html.twig" %}

	<div class="container mt-3">
		<div class="container my-3">
			<h1 class="text-center">Catégorie d'Adhérents<a class="ml-1" href="{{ path('category_adherent_create') }}" class="btn btn-sm btn-success">
					<i class="fas fa-plus"></i>
				</a>
			</h1>
		</div>
		

		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm"></div>

			</div>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					
					<th class="text-center">Catégorie</th>
					<th class="text-center">Montant de la cotisation</th>
					<th class="text-center">Ordre</th>
					

					<th></th>
				</tr>
			</thead>
			<tbody>

				{% for c in catadherent %}


				

					<td class="text-center">
						<strong>{{c.title}}</strong>
					</td>
					<td class="text-center">
						<strong>{{c.montantcot}} 
							€</strong>
					</td>
					<td class="text-center">
						<strong>{{c.list}} 
							</strong>
					</td>
					
					<td>


						<a href="{{ path('category_adherent_modif', {'id': c.id}) }}" class="btn btn-sm btn-secondary">
							<i class="fas fa-pen"></i>
						</a>

						<a href="{{ path('category_adherent_delete', {'id': c.id}) }}" class="btn btn-sm btn-danger" data-confirm="Etes vous sûr de vouloir supprimer cette catégorie ?">
							<i class="fas fa-trash-alt"></i>
						</a>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>


</div>{% endblock %}

