{% extends 'base.html.twig' %}

{% block title %}Inventaire Boutique{% endblock %}

{% block body %}
{% set name = 'Inventaire Boutique' %}
{% include "header_title.html.twig" %}
<div class="container my-3">

<div>Début Inventaire: {{dateCommandes.dateFrom|date('d/m/y')}} -- Fin Inventaire: {{dateCommandes.dateTo|date('d/m/y')}} -- <a href="{{ path('inventaire')}}" class="" data-toggle="tooltip" data-placement="top" title="Imprimer l'inventaire de la boutique">
								<i class="fas fa-print fa-lg"></i>
							</a></div>
<table class="table table-hover">
	<thead>
   

<tr>

			<th class="text-center">Produit</th>
			<th class="text-center">Taille</th>
			<th class="text-center">Qté</th>
</tr>
</thead>
<tbody>
 

{% for p in produit %}
{% set somme = 0 %}
{% for key, c in commande %}

{% set dateFrom = date(dateCommandes.dateFrom).format('U') %}
 {% set dateTo = date(dateCommandes.dateTo).format('U') %}
 {% if c.dateattribution  != null and date(c.dateattribution).format('U') > dateFrom and date(c.dateattribution).format('U') < dateTo  %}


{% if (c.produit.title|lower|replace({' ':''}) is same as(p.title|lower|replace({' ':''}))) %}

{% set somme = somme + c.qte %}

                    
{% endif %}
{% endif %}
{% endfor %}

					<td class="text-center">
						{{ p.title }}

					</td>
                   <td class="text-center">
				   {{ p.taille }}
				   </td>
                    <td class="text-center">
						{{ somme }}

					</td>
                   
				</tbody>


{% endfor %}

</table>
</div>

{% endblock %}
