{% extends 'base.html.twig' %}
{% block title %}Page de
    {{user.firstName}} {{user.lastName}}{% endblock %}
{% block body %}
{% set name = 'Mon compte' %}
	{% include "header_title.html.twig" %}
<div class="container text-center mt-5">

    <h1>{{user.firstName}} {{user.lastName}}</h1>

    {% if user is same as (app.user) %}
                         <div class="mt-3">
                             <a href="{{path('account_profile')}}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
                             <a href="{{path('account_password')}}" class="btn btn-primary mb-2">Modifier mon mot de passe</a>
                         </div>
                        {% endif %}
    </div>
                
        {% endblock %}