{% extends 'base.html.twig' %}

{% block title %}Modification de la fiche appartenant à
	{{adherent.lastName}}
	{{adherent.firstName}}
{% endblock %}

{% block body %}
	{% set name = 'Modification de la fiche de ' ~ adherent.lastName ~  ' ' ~
			adherent.firstName %}
	{% include "header_title.html.twig" %}
	<div class="container">


		{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

		{{ form_widget(form) }}

		<button class="btn btn-primary" type="submit">
			<i class="fas fa-check"></i>
			Enregistrer les modifications
		</button>

		{{ form_end(form) }}


	</div>

</div>{% endblock %}

